.features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.featureImage {
    height: 170px;
    width: 170px;
}

.featureSvg {
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}
